---
import Heading from "../typo/Heading.astro";
import Button from "../ui/Button.astro";
import VerticalDivider from "../ui/VerticalDivider.astro";
import { MailOpen } from "lucide-astro"

const contactMethods = [
  {
    label: "Email",
    url: "mailto:andrew@kodkod.me",
  },
  {
    label: "Telegram",
    url: "https://t.me/akodkod",
  },
  {
    label: "LinkedIn",
    url: "https://linkedin.com/in/akodkod/",
  },
  {
    label: "GitHub",
    url: "https://github.com/akodkod",
  },
  {
    label: "Upwork",
    url: "https://www.upwork.com/freelancers/aemelianenko",
  },
  {
    label: "Instagram",
    url: "https://www.instagram.com/truemelianenko/",
  },
];
---

<div class="mt-24 sm:mt-36">
  <Heading id="contact-me" class="mb-16"> Contact Me </Heading>

  <div class="prose mb-4">
    <p>
      Whether you have a question or just want to chat, my inbox is always open
      <MailOpen class="inline size-4 text-zinc-500 -translate-y-0.5" />
    </p>
  </div>

  <div
    class="flex flex-1 flex-wrap items-center justify-center gap-4 sm:-ml-3 sm:justify-start"
  >
    {
      contactMethods.map(({ label, url }, index) => (
        <>
          <Button plain href={url} target="_blank" rel="noopener noreferrer">
            {label}
          </Button>
          {index < contactMethods.length - 1 && <VerticalDivider />}
        </>
      ))
    }
  </div>
</div>
