<p class="text-sm sm:text-xs text-zinc-600 text-center py-20 sm:py-36 leading-relaxed">
  <span class="font-semibold text-zinc-700">Andrew Kodkod</span><br />
   Crafting digital products since 2007
</p>
