---
import Heading from "../typo/Heading.astro";

const skills = [
  {
    section: "Soft Skills",
    items: [
      { name: "Leadership", note: "8 years" },
      { name: "Agile (Scrum/Kanban)", note: "8 years" },
      { name: "Mentoring", note: "5 years" },
      { name: "Interviewing", note: "8 years" },
      { name: "Performance Reviews", note: "8 years" },
    ],
  },
  {
    section: "Frontend",
    items: [
      { name: "JavaScript", note: "15 years" },
      { name: "TypeScript", note: "4 years" },
      { name: "React", note: "7 years" },
      { name: "Next.js", note: "2 years" },
      { name: "Vue", note: "2 years" },
      { name: "Tailwind", note: "3 years" },
      { name: "Astro", note: "1 year" },
    ],
  },
  {
    section: "Backend",
    items: [
      { name: "Ruby/Rails", note: "11 years" },
      { name: "Node.js", note: "5 years" },
      { name: "PHP", note: "5 years" },
      { name: "SQL", note: "16 years" },
      { name: "NoSQL", note: "5 years" },
      { name: "C++", note: "2 years" },
      { name: "Python", note: "1 year" },
      { name: "AI/ML", note: "1 year" },
    ],
  },
  {
    section: "Mobile",
    items: [
      { name: "ReactNative", note: "3 years" },
      { name: "Electron", note: "3 years" },
      { name: "Capacitor", note: "3 years" },
      { name: "Flutter", note: "1 year" },
      { name: "Swift", note: "1 year" },
    ],
  },
  {
    section: "DevOps",
    items: [
      { name: "Docker", note: "8 years" },
      { name: "AWS", note: "5 years" },
      { name: "GCP", note: "1 year" },
      { name: "CI/CD", note: "8 years" },
      { name: "Heroku", note: "10 years" },
      { name: "Vercel", note: "2 years" },
    ],
  },
  {
    section: "Hobbies",
    items: [
      { name: "Game Dev", note: "2 years" },
      { name: "UI/UX Design", note: "5 years" },
      { name: "Photography", note: "2 years" },
      { name: "Love for Cats", note: "Whole life" },
    ],
  },
  {
    section: "Languages",
    items: [
      { name: "English", note: "Fluent" },
      { name: "Ukrainian", note: "Native" },
      { name: "Russian", note: "Native" },
    ],
  },
];
---

<div class="mt-24 sm:mt-36">
  <Heading id="skills" class="mb-16"> Skills </Heading>

  <div class="grid grid-cols-2 gap-x-6 gap-y-12 sm:gap-x-20 lg:grid-cols-3">
    {
      skills.map(({ section, items }, index) => (
        <div>
          <h3 class="whitespace-nowrap text-2xl font-semibold uppercase sm:text-4xl">
            {section}
          </h3>
          <ul class="mt-2 space-y-3 sm:mt-6 sm:space-y-4">
            {items.map(({ name, note }, index) => (
              <li>
                <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
                  <p class="text-base font-medium text-gray-900">{name}</p>
                  <span class="mx-2 mt-px hidden h-px flex-1 bg-gray-200 sm:block" />
                  <p class="whitespace-nowrap text-sm text-gray-600">{note}</p>
                </div>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>
