---
import { twMerge } from "tailwind-merge";
import { cn } from "../../utils/cn";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  aria-hidden="true"
  class={cn("h-6 w-px bg-zinc-950/10 dark:bg-white/10", className)}
>
</div>
